/* 
    RESET 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font: 1.6rem Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/*
    TEMPLATE
*/

/* Header */

header img {
    vertical-align: middle;
    margin: 20px 50px;
}

header nav {
    display: inline-block;
    vertical-align: middle;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav ul li a {
    font-weight: bold;
    color: #333;
}

header nav ul li a.active {
    padding-bottom: 3px;
    border-bottom: 1px solid #333;
}

.carousel {
}
  
.carousel-cell {
	width: 700px;
	height: 250px;
	border-radius: 5px;
	counter-increment: gallery-cell;
}

.carousel .carousel-cell .background-image {
	position: relative;
	height: 100%;
	background-size: cover;
}

.carousel .carousel-cell .background-image .title-event {
	position: absolute;
	width: 80%;
	bottom: 20px;
	left: 0;
	background-color: #FFF;
	padding: 10px;
}

.carousel .carousel-cell .background-image .title-event h2 {
	font-size: 2rem;
}

#home-page {
	position: relative;
	width: 100%;
}

#home-page p {
	position: absolute;
	font-family: Roboto;
	font-size: 30px;
	top: 100px;
	left: 50px;
}

#home-page p span {
	font-size: 24px;
}

#movies-most-like {
	padding: 0 40px;
	margin: 80px 0;
}

#movies-most-like h3 {
	text-transform: uppercase;
	margin-bottom: 40px;
}

#movies-most-like .oneMovie {
	display: inline-block;
	width: calc((100% - 140px) / 3);
	height: 460px;
	margin: 20px;
	vertical-align: middle;
}

#movies-most-like .oneMovie > div {
	position: relative;
	max-width: 350px;
	height: 100%;
	background-color: #FFF;
	border-radius: 15px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
}

#movies-most-like .oneMovie > div .background_image {
	position: relative;
	width: 100%;
	height: 250px;
	border-radius: 15px;
}

#movies-most-like .oneMovie > div .category_movie {
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #FFF;
	left: 15px;
	top: 10px;
	border-radius: 15px;
	padding: 2px 8px;
}

#movies-most-like .oneMovie > div .like_movie {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 96px;
	height: 96px;
	transform: translate(-50%, -50%);
}

#movies-most-like .oneMovie > div .like_movie img {
	width: 100%;
	height: 100%;
}

#movies-most-like .oneMovie > div p:first-of-type {
	margin-top: 30px;
}

#movies-most-like .oneMovie > div p {
	color: #AFAFAF;
	padding: 10px 20px;
}

#movies-most-like .oneMovie > div p .title_movie,
#movies-most-like .oneMovie > div p .director_movie {
	color: #000;
	font-weight: bold;
}

#movies-most-like .oneMovie > div a {
	position: absolute;
	color: #FFF;
	text-align: center;
	width: 120px;
	left: 50%;
	bottom: 20px;
	padding: 4px 8px;
	border-radius: 15px;
	transform: translateX(-50%);
}

#next-events {
	padding: 0 40px;
	margin: 80px 0;
}

#next-events h3 {
	text-transform: uppercase;
	margin-bottom: 40px;
}

#next-events .oneEvent {
	width: 90%;
	height: 100px;
	margin: 20px auto;
	background-color: red;
}

#next-events .oneEvent div {
	display: inline-block;
}

#next-events .oneEvent div:nth-child(1) {
	width: 20%;
	height: 100%;
}

#next-events .oneEvent div:nth-child(2) {
	width: 40%;
	height: 100%;
}

#next-events .oneEvent div:nth-child(3) {
	width: 40%;
	height: 100%;
}

/* Main */

/* Footer */

/* AUTRE */

body{
    font-family: Roboto;
    margin: 0;
}

ul{
    padding: 0;
}

a {
	text-decoration: none;
	color: #333;
}

header img {
    vertical-align: middle;
    margin: 20px 50px;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

nav ul{
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    font-weight: bold;
}

nav ul li a.active {
    padding-bottom: 3px;
    border-bottom: 1px solid #333;
}

.court_metrage:not(.oneMovie) {
	background: linear-gradient(100.47deg, #F6D365 0%, #FDA085 100%);
}

.long_metrage:not(.oneMovie) {
	background: linear-gradient(90deg, #8BF665 0%, #FDD485 100%);
}

.film_TV:not(.oneMovie) {
	background: linear-gradient(90deg, #7165F6 0%, #85A7FD 100%);
}

.categories {
	padding: 0 50px;
	text-align: center;
	margin: 20px 0 60px 0;
}

.categories > div {
	display: inline-block;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	font-size: 16px;
	line-height: 19px;
	width: 120px;
	height: 120px;
	vertical-align: top;
	margin: 0 40px;
	padding: 10px;
	border-radius: 15px;
	cursor: pointer;
}

.categories > div img {
	width: 45px;
	height: 45px;
}

.categories > div:nth-child(1) {
	background: linear-gradient(135deg, #B665F6 0%, #FD8585 100%);
}

.categories > div > div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#list_movies {
	padding: 0 50px;
}

#list_movies .oneMovie {
	display: inline-block;
	width: calc((100% - 220px) / 3);
	height: 200px;
	margin: 20px;
}

#list_movies .oneMovie a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

#list_movies .oneMovie a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .4;
	transition: opacity .25s ease-in-out;
	border-radius: 15px;
}

#list_movies .oneMovie a:hover:before {
	opacity: .2;
}

#list_movies .oneMovie .category_movie {
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #FFF;
	left: 15px;
	top: 10px;
	border-radius: 15px;
	padding: 2px 8px;
}

#list_movies .oneMovie .like_movie {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
}

#list_movies .oneMovie .like_movie img {
	width: 100%;
	height: 100%;
}

#list_movies .oneMovie .title_movie {
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 42px;
	text-align: center;
	color: #FFF;
	width: 80%;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}

#list_movies .oneMovie a .background_image {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}

/*
	MOVIE DETAIL
*/

#movie_detail {
	max-width: 1000px;
	margin: 0 auto;
}

#movie_detail a {
	margin-top: 30px;
	margin-bottom: 70px;
	display: block;
	color: #afafaf;
	margin-left: -100px;
}

#movie_detail .header{
	text-align: center;
	position: relative;
}

#movie_detail .header,
#movie_detail .info_principale,
#movie_detail .description,
#movie_detail .acteurs {
	margin-bottom: 70px;
}

#movie_detail .header div {
	text-align: left;
	position: absolute;
	top: 50%;
	margin-left: -100px;
	transform: translateY(-50%);
	z-index: 1;
}

#movie_detail .header div h1{
	margin-bottom: 20px;
	font-size: 2.5em;
}

#movie_detail .header div .category_movie {
	font-size: 1em;
	line-height: 14px;
	color: #FFF;
	left: 15px;
	top: 10px;
	border-radius: 15px;
	padding: 2px 8px;
}

#movie_detail .header img {
	width: 100%;
	border-radius: 15px;
	opacity: .8;
}

#movie_detail h2 {
	margin-left: -100px;
}

#movie_detail .info_principale p {
	margin-bottom: 20px;
	font-weight: 800;
}

#movie_detail .info_principale p span {
	color: #afafaf;
	font-weight: 400;
}

/*
	EVENT
*/

#list_events {
	max-width: 1000px;
	margin: 0 auto;
}

#list_events h2{
	margin: 70px 0;
}
#list_events ul li {
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.1);
	padding: 10px;
	margin-bottom: 40px;
	cursor: pointer;
	transition: .2s;
}

#list_events ul li div {
	display: inline-block;
	margin-right: 50px;
}

#list_events ul li div span {
	color: #afafaf;
	font-size: 1rem;
}

#list_events ul li div p {
	margin-top: 5px;
}

#list_events ul li:hover{
	box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.4);
}
