body{
    font-family: Roboto;
    margin: 0;
}

ul{
    padding: 0;
}

a {
	text-decoration: none;
	color: #333;
}

header img {
    vertical-align: middle;
    margin: 20px 50px;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

nav ul{
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    font-weight: bold;
}

nav ul li a.active {
    padding-bottom: 3px;
    border-bottom: 1px solid #333;
}

#list_movies ul li {
	display: inline-block;
	width: calc(100% / 3);
	padding-bottom: 40px;
}

#list_movies ul li img {
	width: 500px;
}

#list_movies ul li a {
	display: block;
	text-align: center;
}